@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'IRANYekanBold';
  src: url(../fonts/IRANYekanBold/IRANYekanBold.eot?0e86ddd369295a55bc54370f06a3ad5d);
  src: url(../fonts/IRANYekanBold/IRANYekanBold.ttf?f159c5f311fcdeaead0ce97f22ead010) format("truetype");
  src: url(../fonts/IRANYekanBold/IRANYekanBold.woff?468454e6fb70673595c3878904274540) format('woff');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'IRANYekanRegular';
  src: url(../fonts/IRANYekanRegular/IRANYekanRegular.eot?c457224120828f17add51a39543f4b15);
  src: url(../fonts/IRANYekanRegular/IRANYekanRegular.ttf?4eb6621b1ab1548aa8dc34d7f05c48a7) format("truetype");
  src: url(../fonts/IRANYekanRegular/IRANYekanRegular.woff?e1f298caefd1d1727ef6bc64b4ca0234) format('woff');
  font-weight: normal;
  font-style: normal
}
