@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IRANYekanBold;
  font-style: normal;
  font-weight: bold;

  src: url("../fonts/IRANYekan/eot/iranyekanwebbold(fanum).eot");
  src: url("../fonts/IRANYekan/eot/iranyekanwebbold(fanum).eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */
    url("../fonts/IRANYekan/woff2/iranyekanwebregular\(fanum\).woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
    url("../fonts/IRANYekan/woff/iranyekanwebbold(fanum).woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/IRANYekan/ttf/iranyekanwebbold(fanum).ttf") format("truetype");
}

@font-face {
  font-family: IRANYekanLight;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/IRANYekan/eot/iranyekanweblight(fanum).eot");
  src: url("../fonts/IRANYekan/eot/iranyekanweblight(fanum).eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */
    url("../fonts/IRANYekan/woff2/iranyekanweblight(fanum).woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
    url("../fonts/IRANYekan/woff/iranyekanweblight(fanum).woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/IRANYekan/ttf/iranyekanweblight(fanum).ttf") format("truetype");
}

@font-face {
  font-family: IRANYekanRegular;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/IRANYekan/eot/iranyekanwebregular(fanum).eot");
  src: url("../fonts/IRANYekan/eot/iranyekanwebregular(fanum).eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */
    url("../fonts/IRANYekan/woff2/iranyekanwebregular(fanum).woff2") format("woff2"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/IRANYekan/ttf/iranyekanwebregular(fanum).ttf") format("truetype");
}

* {
  scrollbar-color: #334155 #F8FAFC;
}

body {
  direction: rtl;
}

.dot-flashing {
  position: relative;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.one {
  background-image: radial-gradient(hsla(209, 100%, 47%, 1.00) 7%, transparent 0);
  background-size: 30px 30px;
  width: 200px;
  height: 200px
}

.dot-flashing::before,
.dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -10px;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 10px;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

.swiper-button-prev {
  right: 17px !important;
}

.swiper-button-next {
  left: 17px !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  transform: scale(.6);
}

nav#header {
  box-shadow: 0 2px 15px rgb(0 0 0/8%);

}

@keyframes dotFlashing {
  0% {
    background-color: #9880ff;
  }

  50%,
  100% {
    background-color: #ebe6ff;
  }
}

@media only screen and (max-width: 768px) {

  .swiper-button-next,
  .swiper-button-prev {
    width: 24px !important;
    height: 24px !important;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    transform: scale(.4);
  }

}